/* //////////////////// */
/* SPACING */
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 40px;
// shadows
$shadow: 0 0 4px 2px rgba(0,0,0,0.15);
// colors
$pink: #FF595E;
$yellow: #FFCA3A;
$green: #8AC926;
$blue: #059EFE;
$purple: #6A4C93;
$gray1: #666666;
$gray2: #999999;
$gray3:#485056;
$gray4: #D1D1D1;
$white: #fff;

$minWidth: 320px;


/* //////////////////// */
/* CONTENT */
body {
  margin: 0 auto;
  max-width: 690px; 
}

html{
  background: url(images/bg.png) bottom repeat-x #f2f2f2;
  position: absolute;
  z-index: 1;
  left: 0%; right: 0; bottom: 0; top:0;
  width: 100%;
  height: 100%;
  min-height: 490px;
  min-width: $minWidth;
  
}

* { font-family: 'Montserrat', sans-serif; }

a{ text-decoration: none;}

/* //////////////////// */
/* STRUCTURE */
#homebody{
  display: none;
}
.questionBody{
  max-width: 600px;
  margin: 0 auto;
}

.pageBox{ 
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.limitor{ max-width: 690px;
  margin: 0 auto;}

/* //////////////////// */
/* SPLASHSCREEM */
.splashScreen{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%; height: 100%;
  z-index: 10;
  background: url(images/01_Splash_Screen.png) center top repeat-x;
  background-size: cover;
}


.splashScreenBox{
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  width: 100%; height: 100%;
  box-sizing: border-box;
  z-index: 1;
  background-color: $pink;
  overflow: hidden;
}

.splashContentBox{
  position: absolute;
  height: 400px;
  top: 50%;
  
  padding: 0 $lg;
  z-index: 100;
  left: 50%;
  margin: -200px 0 0 -195px;
}

.splashScreenBox h1{
  font-weight: bolder;
  color: $white;
  letter-spacing: -0.05rem;
  line-height: 3.8rem;
  font-size: 4rem;
  margin:0 0 $sm;
}
.splashScreenBox span{ color: $white; font-weight: lighter;
  margin-bottom: $lg;
  display: block;}

.yellowLine{ position: absolute;
  left: 0; right: 0; bottom: -20%;
  width: 120%;
  height: 40%;
  margin-left: -10%;
  background-color: $yellow;
  transform: rotate(-10deg);}

.imageScreem{
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  animation: fluctuation 2s ease infinite;
}

@keyframes fluctuation {
  0% { transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
  
}

/* //////////////////// */
/* DECISION SCREEN */

#questionContentBox{
  position: absolute;
  height: 575px;
  top: 50%;
  margin-top: -288px; 
  width: 100%;
  display: block;
  max-width: 690px;
}
@media only screen and (max-height: 680px) {
  #questionContentBox{
    position: relative;
    top: 0;
    margin-top: 0;
  }
}

#questionBox{
  padding: 0 $md;
}
#questionBox > #questionIndexer{
  color: $gray1;
  font-weight: lighter;
}
#questionBox > #question{
  font-weight: bold;
  color: $gray3;
  margin: 0 0 $md;
  line-height: 1.6rem;
  height: 13rem;
  font-size: 1.6rem;
}

/* //////////////////// */
/* PROGRESSBAR */
.progressContainer{
  height: $sm;
  background-color: $gray4;

  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  width: 100%;
  z-index: 10;
  
}
.progressContainer .progressBar{
  width: 0px;
  height: 100%;
  background: #6A4C93
}

/* //////////////////// */
/* BUTTONS */
#buttonsBox{ 
  box-sizing: border-box;
  padding: $md;
}

.button{ 
  display: block;
  padding: $lg $lg;
  text-align: center;
  cursor: pointer;
  border-radius: $sm;
  background-color: #0a61ab;
  color: #fff;
  font-weight: bold;
  font-size: $md;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

.button:hover{
  background-color: #074173 ;
}
 
#buttonsBox > .button{
  width: 48%;
  transition:all 300ms ease-in-out;
}
#buttonsBox > .button:hover,
#buttonsBox > .button:focus{ transition:all 300ms ease-in-out;}

#buttonsBox > .button:first-child {
  float: left;
}
#buttonsBox > .button:last-child {
  float: right;
}
#buttonsBox > .button#yes{
  background-color: $green;
}
#buttonsBox > .button#no{
  background-color: $pink;
}

#buttonsBox > .button#yes:hover,
#buttonsBox > .button#yes:focus{
  background-color: #415f12;
}
#buttonsBox > .button#no:hover,
#buttonsBox > .button#no:focus{
  background-color: #9c373a;
}


/* //////////////////////////// */
/* //////////////////////////// */
// RESULT PAGE
#resultBox{
  padding: 0 $md $lg;
  display: none;
  position: absolute;
  top: 20%;
  min-height: 375px;
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;

}
@media only screen and (max-height: 730px) {
  #resultBox{
    position: relative;
    top: 0;
    margin-top: 0;
    padding-top: $lg;
  }
}

#resultBox .scoreLabel{
  text-align: center;
  text-transform: uppercase;
  color: $gray3;
  display: block;
}

.inputContainer {
  padding-bottom: $md;
}

.inputContainer label{
  text-transform: uppercase;
  display: block;
  color: $gray3;
  margin-bottom: $sm;
}

.inputContainer .productName{
  border: none;
  border-bottom: 2px solid $yellow;
  display: block;
  width: 100%;
  background: none;
  box-sizing: border-box;
  padding: $sm 0 0;
  font-size: 2rem;
  color: $gray3;
  font-weight: bold;
}
.inputContainer .productName:focus{ outline: none;}

#purchaseScale{
  font-size: 3rem;
  margin: 0 0 $lg;
  text-align: center;
  color: $gray3;
}
#textResult{
  color: $gray3;
  font-size: $lg;
  text-align: left;
  margin: $md auto $xl;
}
.scaleLegend{
  position: relative;
  padding: $xs 0 0;
  height: $lg;
}
.scaleLegend span{
  position: absolute;
  top: $sm;
  color: $gray3;
  font-weight: bold;
  font-size: 0.7rem;
}

.scaleLegend span#not{left: 0; color: rgb(202, 3, 3);}
.scaleLegend span#maybe{ left: 50%; margin-left: -30px;}
.scaleLegend span#yes{ right: 0; color: rgb(48, 220, 0);}

.scale{
  width: 100%;
  height: $sm;
  border-radius: $md;
  margin: $sm auto;
  background: rgb(202,3,3);
  position: relative;
  background: linear-gradient(90deg, rgba(202,3,3,1) 0%, rgba(255,228,0,1) 50%, rgba(48,220,0,1) 100%); }

.scale .scaleIndicator{
  position: absolute;
  left: 0;
  top: -12px;
}
.scale .scaleIndicator img{
  width: 24px;
}

#buttonBox{ padding-top: $md;}
.overlayBox #save{ background-color: $green;}
.overlayBox #save.saved{ background-color: $pink;}
.overlayBox #save.saving{ background-color: $gray2; color: $gray3;}

#buttonBox #newDecision { background-color: $blue;}

#saveOverlayButton{ background-color: $purple; margin-bottom: $md;}


.overlaySave{
  display: none;
  opacity: 0;
}

.overlayBox{
  position: fixed;
  top: 50%; left: 5%; right: 5%;
  width: 90%;
  max-width: 500px;
  margin: -97px auto 0;
  background: $white;
  padding: $md;
  box-sizing: border-box;
  box-shadow: $shadow;
  height: 195px;
  z-index: 1001;
}


.overlaySave.open{
  display: block;
  opacity: 1;
  animation: showBg 600ms ease-in-out;
}
@keyframes showBg{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.overlaySave.closed{
  display: none;
  opacity: 0;
  animation: hideBg 600ms ease-in-out;
}
@keyframes hideBg{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.overlayBg{position: fixed;
  z-index: 1000;
  left: 0; right: 0;
  top: 0; bottom: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.8);}

/* ######################## */
/* MENU BAR */
#menuBar{
  background-color: $white;
  box-shadow: $shadow;}

#menuBar > a{ display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: center;
  padding: $lg 0;
  text-decoration: none;
  color: $gray1;
  font-weight: bold;
  font-size: 1.1rem;}

#menuBar > a svg{ margin-right: $sm;}

#menuBar > a:hover,
#menuBar > a.selected{
    color: $purple;
}

/* ######################## */
// DECISIONS PAGE
#decisionBox{ padding: $xxl $md;}

#decisionBox h2{
  color: $gray3;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 $md;
}

#decisionBox #decisionList{
  list-style: none;
  margin: 0;
  padding: 0;
}

#decisionBox #decisionList li{
  color: $gray3;
  padding: $md 0;
  border-bottom: 1px solid $gray4;
  font-weight: bold;
}

#decisionBox #decisionList li .productName{
  display: inline-block;
  max-width: 50%;
}

#decisionBox #decisionList li .score{ float: right; color: $gray1;}
#decisionBox #decisionList li .score.green{ color: $green;}
#decisionBox #decisionList li .score.pink{ color: $pink;}

#decisionBox #decisionList li .removal{ 
  display: inline-block;
  padding: $xs;
  color: $pink;
  text-align: center;
  width: $md;
  height: $md;
  font-size: 16px;
  font-weight: bolder;
  margin-left: $md;
}

#loadingList{
  padding: $xxl;
  text-align: center;
  border-bottom: none !important;
}
.loader{
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 100%;
  border-right: 2px solid $pink;
  border-bottom: 2px solid $pink;
  animation: rotato 300ms ease infinite;
}

@keyframes rotato {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}


//////////////////////////
/// Response Message
/// 
.responseMessage{
  position: fixed;
  width: 50%;
  margin: 0 auto;
  bottom: -30%;
  box-sizing: border-box;
  background-color: $green;
  border-radius: $md;
  padding: $lg;
  color: $white;
  font-size: 1.2rem;
  left: 50%;
  margin-left: -25%;
}

.responseMessage.show{
  animation: messageApperance 6s ease-in-out;
}

.responseMessage span{}
.responseMessage div{
  float: right;
}

@keyframes messageApperance {
  0%{ bottom: -30%; display: block;}
  25% { bottom: $lg;}
  75% { bottom: $lg;}
  100% {bottom: -30%; display: none;}
}



//////////////////////////
/// Switcher
/// 
.switcherBox{
  display: block;
  margin: 0 0 $lg;
  padding: $md;
}
.switcherBox .switcherTitle{ 
  text-transform: uppercase;
  color: $gray3;
  font-weight: bold;
  padding: $lg 0 $md;
  font-size: 0.9rem;
  display: block;
}
.switcherBox .switcherSpace{ 
  position: relative;
  padding: $md;
  background: $gray4;
  border-radius: $md;
  height: 40px;
}

.switcherBox .switcherSpace .switcherButtonSpace .switcherButton{
  display: block;
  width: calc(50% - $sm);
  margin-left: 0;
  border-radius: $md;
  position: absolute;
  background-color: $blue;
  left: $sm; top: $sm; bottom: $sm;
  z-index: 10;
  transition: all 300ms ease-out;
}
.switcherBox .switcherSpace .switcherButtonSpace.complete .switcherButton{
  left: 50%;
  transition: all 300ms ease-out;
}

.switcherBox .switcherSpace .switcherLabels > div{
  position: absolute;
  top: 0; bottom: 0;
  width: 50%;
  z-index: 20;
  color: $gray3;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding-top: 27px;
  cursor:pointer;
  transition: all 300ms ease-out;
}

.switcherBox .switcherSpace .switcherLabels > div.active{ color: $white;}
.switcherBox .switcherSpace .switcherLabels > div.switcherSimple{ left: 0;}
.switcherBox .switcherSpace .switcherLabels > div.switcherComplete{ left: 50%;}


.privacyPolicePage{
  background-color: $pink;
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  padding: $md;
  box-sizing: border-box;
  overflow-y: auto;
}

.privacyPolicePage h1,
.privacyPolicePage h2,
.privacyPolicePage li,
.privacyPolicePage p{ color: $white;}

.buttonAcceptance .button{ background-color: $yellow; color: $gray3;}